<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jirafs.mount</string>

  <key>ProgramArguments</key>
  <array>
    <string>__BIN_PATH__</string>
    <string>--config</string>
    <string>__CONFIG_PATH__</string>
    <string>__MOUNTPOINT__</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__HOME_DIR__/Library/Logs/jirafs.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME_DIR__/Library/Logs/jirafs.err.log</string>
</dict>
</plist>
