@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  background-color: #1e2127;
  color: #e6efff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e2127;
  color: #e6efff;
}
